.row{
    display: flex;
    height: 50px;
}
.col{
    flex: 1;
    background-color: skyblue;
    margin: 5px;
    border: 5px;
}
.col-2{
    flex: 2;
    background-color: skyblue;
    margin: 5px;
    border: 5px;
}
.col-3{
    flex: 3;
    background-color: skyblue;
    margin: 5px;
    border: 5px;
}